.form-control {
  width: 100%;
  max-width: 416px;
  height: 72px;
  background-color: var(--field-background);
  box-shadow: 0px 11px 15px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 18px;
  line-height: 26px;
  color: var(--text);
  padding: 23px 24px;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    color: #828282;
  }
}

@include for-phone-only {
  .form-control {
    height: 64px;
  }
}
